src/main/mule/implementation/getRouteImplementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="getRouteImplementationFlow" doc:id="e5f078cd-7918-4bdd-b0f3-37f02bca8497" >
		<http:request method="GET" doc:name="Request" doc:id="a0d2d1b3-06ff-4a22-885f-3f87cb6dbf86" config-ref="HTTP_Request_configuration" path="${requester.Routepath}" >
			<http:headers ><![CDATA[#[output application/java
---
{
	transactionId : vars.transactionId
}]]]></http:headers>
		</http:request>
		<ee:transform doc:name="Transform Message" doc:id="fb064a5a-ceba-4090-adc3-b1386e5c8c76" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload map(value,index)->
	{
    "originLocation": {
      "locationCode": value.originLocationCode
    },
    "destinationLocation": {
      "locationCode": value.destinationLocationCode
    }
  }
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
